<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Register New User Form</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Reference Bootstrap files -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
		.error {color:red}
	</style>

</head>

<body>

<div>
        <form action="#" th:action="@{/processSignUpForm}" th:object="${user}" method="post">
            <input type="text" th:field="*{firstName}" placeholder="First Name">
            <input type="text" th:field="*{lastName}" placeholder="Last Name">
            <input type="text" th:field="*{email}" placeholder="Email">
            <input type="text" th:field="*{Username}" placeholder="Username">
            <input type="password" th:field="*{password}" placeholder="Password">
            <input type="password" placeholder="Renter Password">
            <input type="date" placeholder="Birthday">
            <input type="submit"/>
        </form>
</div>

</body>
</html>